# Node
node_modules/
dist/
.vite/
*.log

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Java
target/
*.class
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
.vscode/
*.iml

# Env / secrets
.env
.env.local
*.pem

# Terraform (for later)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars

# OS
.DS_Store
Thumbs.db
